<style>
  .header {
    background-color: lightblue;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(212, 212, 212);
  }
  .logo {
    padding: 12px;
  }
  .menu a {
    padding: 0 12px;
  }
</style>
<div class="header">
  <div class="logo">Bert en Miles</div>
  <div class="menu">
    <a href="/">Home</a>
    <a href="/breakout">Breakout</a>
    <a href="/bubble">Bubble</a>
    <a href="/pong">Pong</a>
    <a href="/snake">Snake</a>
  </div>
</div>
