<html>
    <head>
        <title>Bert en Miles</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta charset="UTF-8" />
        <style>
          html,
          body,
          .body {
            height: 100%;
            margin: 0;
          }
    
          .body {
            background: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
          }
        </style>
      </head>
  <body>
    <%- include('header'); -%>

    <div class="body">
      <h1>Bert en Miles</h1>
      <p>Twee geinige gassies</p>
    </div>
  </body>
</html>
